{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block container %}
<h1>Login</h1>
<form action="{{ url_for('login') }}" method="post">
    <div class="form_grope">
        {{ form.email.label(class="email_label") }}
        {{ form.email(class="email_input") }}
    </div>
    <div class="form_grope">
        {{ form.password.label(class="password_label") }}
        {{ form.password(class="password_input") }}
    </div>
    <div class="form_grope">
        {{ form.submit(class="submit_button") }}
    </div>
</form>
{% endblock %}